In [4]:
!pip install selenium
!pip install webdriver-manager

Requirement already satisfied: selenium in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (4.32.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from selenium) (0.30.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from selenium) (4.13.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (25.3.0)
Requirement already satisfied: sortedcontainers in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.16.0)
Requirement already satisfied: webdriver-manager in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (4.0.2)
Requirement already satisfied: requests in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from webdriver-manager) (2.31.0)
Requirement already satisfied: python-dotenv in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from webdriver-manager) (1.1.0)
Requirement already satisfied: packaging in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sely.wakhidah\appdata\local\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.7.22)

In [8]:
import pandas as pd
import time
#from datetime import date
#from datetime import datetime as dt
#import os
#from pathlib import Path
from selenium import webdriver
#from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

In [9]:
#%%
#Set Driver
driver = webdriver.Chrome() #ChromeDriverManager().install())
driver.get('https://idx.co.id/perusahaan-tercatat/profil-perusahaan-tercatat/')
time.sleep(3)

#Select visible row to All
select = Select(driver.find_element(By.NAME, 'perPageSelect'))
select.select_by_visible_text('All')
time.sleep(3)

#Create DF to store ticker data
df_listticker = pd.DataFrame(columns=['No', 'Ticker', 'Nama', 'Tanggal Pencatatan'])

#Get Row & Column           
rows = len(driver.find_elements(By.XPATH, '//*[@id="vgt-table"]/tbody/tr'))
cols = len(driver.find_elements(By.XPATH, '//*[@id="vgt-table"]/tbody/tr[1]/td'))

#Get every cell value
for i in range(1, rows+1):
    list_row = [i]
    for j in range(1, cols+1):
        value = driver.find_element(By.XPATH, '//*[@id="vgt-table"]/tbody/tr[' + str(i) + ']/td[' + str(j) + ']')

        #Check if element is List or string
        list_row.append(value.text)
    df_listticker.loc[len(df_listticker)] = list_row

    print(f"Crawling Progress: {i}/{rows} ({(i/rows*100):.2f}%)\r", end='')

driver.close()

In [10]:
df_listticker.head()

   No Ticker                            Nama Tanggal Pencatatan
0   1   AADI  PT Adaro Andalan Indonesia Tbk        05 Des 2024
1   2   AALI          Astra Agro Lestari Tbk        09 Des 1997
2   3   ABBA                Mahaka Media Tbk        03 Apr 2002
3   4   ABDA     Asuransi Bina Dana Arta Tbk        06 Jul 1989
4   5   ABMM               ABM Investama Tbk        06 Des 2011

In [22]:
import os

# Buat folder 'report' jika belum ada
os.makedirs('report', exist_ok=True)

# Ekstrak hanya kolom Ticker dan simpan
df_ticker_only = df_listticker['Ticker']
df_ticker_only.to_csv('report/ListSaham-07042025.csv', sep='|', index=False)

# Export Raw Format Dataframe to CSV
df_listticker.to_csv('report/ListPerusahaanIDX-22052025.csv', sep='|', index=False)

In [23]:
data = pd.read_csv('C:/Users/sely.wakhidah/Downloads/archive (4)/report/ListPerusahaanIDX-22052025.csv',sep='|')

In [24]:
data.head()

   No Ticker                            Nama Tanggal Pencatatan
0   1   AADI  PT Adaro Andalan Indonesia Tbk        05 Des 2024
1   2   AALI          Astra Agro Lestari Tbk        09 Des 1997
2   3   ABBA                Mahaka Media Tbk        03 Apr 2002
3   4   ABDA     Asuransi Bina Dana Arta Tbk        06 Jul 1989
4   5   ABMM               ABM Investama Tbk        06 Des 2011